@{
    ViewData["Title"] = "About";
}

<h1>About the WeatherHub</h1>
<hr />
<h2>This project has been developed as a way of showing modern software development technologies.</h2>
<h3>The WeatherHub has been built in C# with an MVC structure using .Net Core 2.2 and Visual Studio 2019. Bootstrap has been used to make the web application responsive.</h3>
<h4>Behind the scenes the application is obtaining data using RESTFul requests with the System.Net.Http.HttpClient library and Newtonsoft JSON. Web Scraping is done through using HTMLAgilityPack. Dependency injection is managed through the built in .NET Core support.</h4>
<h4>Git has been used as the version-control and GitHub has been used as the host. </h4>

<p>Future technologies which I would like to use in this project are as follows:</p>
<ul>
    <li>Redis as a memory cache</li>
    <li>Webpack to bundle resources such as JavaScript and CSS</li>
    <li>Move the backend out in to a dedicated Web API</li>
    <li>Microsoft Cosmos DB - to store user search data and log errors</li>
    <li>Consider moving the frontend in to a VueJS application</li>
    <li>Further Unit/Integration testing with XUnit or nUnit</li>
    <li>Babel - to compile ES6 Javascript without having to worry about browser compatibility.</li>
    <li>ESLint - to make code consistent and avoid bugs</li>
</ul>

<p>Over time I will start ticking items of this list of technologies I would like to use and potentially add more as I'm always finding tools I'd like to play with!</p>