@{
    ViewData["Title"] = "About";
}

<h1>About the WeatherHub</h1>
<hr />
<h2>This project has been developed as a way of showing modern software development technologies.</h2>
<h3>The WeatherHub has been built in <strong>C#</strong> with an <strong>MVC</strong> structure using <strong>.Net Core 2.2</strong> and <strong>Visual Studio 2019</strong>. The web application is responsive through the use of the <strong>Bootstrap</strong> library.</h3>
<h4>Behind the scenes the application is obtaining data using <strong>RESTFul</strong> requests with the <strong>System.Net.Http.HttpClient</strong> library and <strong>Newtonsoft JSON</strong>. Web Scraping is done through using <strong>HTMLAgilityPack</strong>. The inversion of control principle is followed as the application is utilising <strong>Dependency Injection</strong> through the built in .NET Core support. The users searches are being logged to an <strong>Microsoft Azure CosmosDB.</strong></h4>
<h4><strong>Git</strong> has been used as the version-control and <strong>GitHub</strong> has been used as the host. </h4>
<hr />
<p>Future technologies which I would like to use in this project are as follows:</p>
<ul>
    <li><strong>Redis</strong> as a memory cache</li>
    <li><strong>Webpack</strong> to bundle resources such as JavaScript and CSS</li>
    <li>Move the backend out in to a dedicated <strong>Web API</strong></li>
    <li>Log errors with the connection to the <strong>Cosmos DB</strong></li>
    <li>Consider moving the frontend in to a <strong>VueJS</strong> application</li>
    <li>Further Unit/Integration testing with <strong>XUnit</strong> or <strong>nUnit</strong></li>
    <li><strong>Babel</strong> - to compile ES6 Javascript without having to worry about browser compatibility.</li>
    <li><strong>ESLint</strong> - to make code consistent and avoid bugs</li>
    <li>Create an <strong>Amazon Alexa Skill</strong></li>
    <li>Store historical weather data and display appropriately</li>
    <li>Utilise more providers of weather data.</li>
</ul>

<p>The above list isn't comprehensive as I'm always finding tools I'd like to play with!</p>