@{
    ViewData["Title"] = "Providers";
}

<h1>Providers</h1>
<h2>The weather hub uses various providers for weather information. Current integrations include:</h2>

<ul>
    <li>Google UK</li>
    <li>OpenWeather</li>
    <li>AccuWeather</li>
</ul>