@model List<SupplierInformation>

@{
    ViewData["Title"] = "Search Results";
}

<div class="text-left">
    <h2>Here you can find temperature data for your chosen location from a number of providers</h2>
    <br />
    @Html.Partial("_SearchWidget")
    <br />
    @foreach (SupplierInformation supplierInfo in @Model)
    {
        <div class="font-weight-bold">@supplierInfo.Name</div>
        <p class="text-">@supplierInfo.WeatherInformation</p>
    }
</div>
