@{
    ViewData["Title"] = "Search Results";
}

<h1 class="display-4">Welcome</h1>
<br />
<h4>Use the search box below to search a location for the temperature with a variety of providers.</h4>
<br />
@Html.Partial("_SearchWidget")