@model List<SupplierInformation>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <h4>Here you can find temperature data for your chosen location from a number of providers</h4>
    <br />
    @foreach(SupplierInformation supplierInfo in @Model)
    {
        <div class="text-uppercase">@supplierInfo.Name</div>
        <p class="text-capitalize">@supplierInfo.WeatherInformation°C</p>
    }
</div>
