@{
    ViewData["Title"] = "Search Results";
}

<h1 class="display-4">Welcome</h1>
<br />
<h4>Use the search box below to search a location for the temperature with a variety of suppliers.</h4>
<br />
@using (@Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
    <input class="form-control mr-sm-2" type="search" placeholder="Enter a location" aria-label="Search" name="location">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
}