@{
    ViewData["Title"] = "Home";
}

<h1 class="display-4">Welcome</h1>
<br />
<h2>Use the search box below to search a location for the temperature with a variety of providers.</h2>
<br />
@Html.Partial("_SearchWidget")