@using (@Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
    <input class="form-control mr-sm-2" type="search" placeholder="Enter a location" aria-label="Search" name="location">
    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
}